<body>
<app-menu></app-menu>
<br>
<br>
<br>
<br>
<ion-card color="warning" id="card1" class="card">
  <ion-card-header>Objetivos deste protótipo
    <ion-card-subtitle>Protótipo de projeto da universidade</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>O objetivo deste projeto é aprender a utilizar e dominar o framework <strong>Ionic</strong>.</ion-card-content>

  <ion-card color="warning" class="card">
    <ion-card-header class="header">Criadores deste projeto
      <ion-card-subtitle>(Desenvolvedores)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Larissa Wanderley, Natã Florêncio e Samuel Freitas.</ion-card-content>

    <ion-card color="light">
      <ion-card-header class="header">Versão deste aplicativo: 69.</ion-card-header>
      <ion-card-header> Código da versão: 1.</ion-card-header>
    </ion-card>

  </ion-card>

  <ion-button id="botao9" color="light">Botão misterioso</ion-button>
  <ion-alert trigger="botao9"  header="Oswaldo." subHeader="Oswaldo." message='<img src="assets/oswaldo.jpg" style="width:300px;height:300px;"/>' [buttons]="alertButtons">
  </ion-alert>

</ion-card>


</body>
