
  <section id="sessao" class="container">
    <ion-item-group>
      <ion-label id="label1">Login</ion-label>
      <br>
      <ion-input label="ID" placeholder="Coloque seu ID aqui" label-placement="floating" fill="outline" id="input1"  clear-input="true" [counter]="true" maxlength="50" type="text" class="input"></ion-input>

      <ion-input label="Senha" placeholder="Coloque sua senha aqui" label-placement="floating" fill="outline" id="input2"  [counter]="true" maxlength="50" type="pasword" class="input"><ion-input-password-toggle slot="end" color="warning"></ion-input-password-toggle></ion-input>
      <ion-button id="botao1" (click)="irSec()" fill="outline">Enviar</ion-button>
      <br>

    </ion-item-group>
  </section>





